<div class="container mt-3">
  <h1 class="mb-3">All our Flats (<%= @flats.length %>)</h1>
  <div class="d-flex justify-content-between">
    <% @flats.each do |flat| %>
      <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
        <div class="flat-card-image" style="background-image: url('../../assets/images/home.jpg')"></div>
        <div class="card-body">
          <h5 class="card-title"><%= flat.name %></h5>
          <p class="card-text"><%= flat.address %></p>
          <p class="card-text"><%= flat.description %></p>
          <i class="fa-solid fa-people-group me-3"><%= flat.number_of_guests %></i>
          <i class="fa-solid fa-euro-sign"><%= flat.price_per_night %></i>
        </div>
        <div class="card-body d-flex justify-content-evenly">
          <%= link_to "More info", flat_path(flat), class: "card-link text-primary" %>
          <%= link_to "Edit", edit_flat_path(flat), class: "card-link text-warning" %>
          <%= link_to "Remove", flat_path(flat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "card-link text-danger" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
